<%- include ("../partials/header")%>

<h1>Edit <%= predmet.name %></h1>

<form method="POST" action="/predmets/<%= predmet._id %>?_method=PUT">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= predmet.name %>" required>
  </div>
  <button type="submit">Save</button>
</form>

<%- include ("../partials/footer") %>